<h1>Welcome to Snafoo!</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Last Purchase Date</th>
  </tr>
<% @snacks.each do |snack| %>
  <tr>
    <td><%= snack["name"] %></td>
    <td><%= snack["lastPurchaseDate"] %></td>
  </tr>
<% end %>
</table>

