<h1>SNAFOO</h1>

<table>
  <tr>
    <th>Old Standbys</th>
  </tr>
  <% @snacks.each do |snack| %>
  <tr>
    <% if snack["id"] < 1007 %>
      <td><%= snack["name"] %></td>
    <% end %>
  </tr>
  <% end %>
</table>
<br>
<table>
  <tr>
    <th>Suggestion</th>
    <th>Last Purchased</th>
    <th>Vote</th>
  </tr>
  <% @snacks.each do |snack| %>
  <tr>
    <% if snack["id"] > 1006 %>
      <td><%= snack["name"] %></td>
      <% if snack["lastPurchaseDate"] %>
        <td><%= snack["lastPurchaseDate"] %></td>
      <% else %>
        <td>Never purchased</td>
      <% end %>
      <td>No votes yet</td>
    <% end %>
  </tr>
  <% end %>
</table>
<br>
<%= link_to "Want to suggest a snack?", new_path %>
