<h1>Welcome to Snafoo!</h1>

<table>
  <tr>
    <th>Old Standbys</th>
  </tr>
  <% @snacks.each do |snack| %>
  <tr>
    <td><%= snack["name"] %></td>
  </tr>
  <% end %>
</table>
<p>
<table>
  <tr>
    <th>Suggestion</th>
    <th>Last Purchased</th>
    <th>Vote</th>
  </tr>
</table>
